@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('Fraunces-latin_basic.woff2') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Fraunces';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('Fraunces-Italic-latin_basic.woff2') format('woff2');
  font-named-instance: 'Italic';
}
