@font-face {
  font-family: 'Henrietta Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('VCHenriettaCondensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Henrietta Condensed';
  font-weight: 500;
  font-style: normal;
  src: url('VCHenriettaCondensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Henrietta Condensed';
  font-weight: 600;
  font-style: normal;
  src: url('VCHenriettaCondensed-SemiBold.woff2') format('woff2');
}
