@font-face {
  font-family: 'Henrietta';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('VCHenrietta-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Henrietta';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url('VCHenrietta-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Henrietta';
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url('VCHenrietta-SemiBold.woff2') format('woff2');
}
