:root {
  --frame-width: 0.5rem;
  --decoration-width: max(2px, 0.1em);
  --handdrawn-mask-svg: url('~/assets/img/mask.svg');
  --handdrawn-mask-png: url('~/assets/img/mask.png');

  --content-height: calc(100svh - 2 * var(--frame-width));
}

@media (min-width: 768px) {
  :root {
    --frame-width: 1.5rem;
  }
}

html,
body,
#__nuxt {
  height: 100%;
}

a {
  text-decoration-line: none;
}
